.bg-container {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #07080c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  min-width: 80vw;
}
.card-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 28px;
  font-family: Roboto;
  font-weight: Bold;
}
.image {
  height: 200px;
  width: 350px;
}
.para {
  color: #ffffff;
  font-size: 18px;
  font-family: Roboto;
  font-weight: Bold;
}
.para2 {
  color: #cbd5e1;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
}
.button-accelerate {
  background-color: #0b69ff;
  border: 5px;
  border-color: #0b69ff;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  color: #ffffff;
  cursor: pointer;
}
.button-apply-break {
  border: 5px;
  border-color: #94a3b8;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  color: #94a3b8;
  cursor: pointer;
}
.zero {
  outline: none;
}
