.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #000000;
  height: 30vh;
  width: 30vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  text-align: center;
  border: 5px;
  border-color: #000000;
  border-radius: 10px;
}
.title-dark {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
}
.title-light {
  color: #000000;
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
}
.button {
  background-color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-left: 15px;
  border-radius: 10px;
  border: 0px;
}
.card-container-sub {
  background-color: #ffffff;
  height: 30vh;
  width: 30vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  text-align: center;
  border: 5px;
  border-color: #000000;
  border-radius: 10px;
}
